.DayPickerNavigation {
  display: flex;
  justify-content: space-between;
}

.CalendarDay,
.CalendarDay:hover {
  border: none;
  border-radius: 50%;
}

/* 選択した日付範囲の開始と終了日 */
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #3f51b5;
}

/* 選択した日付範囲の開始と終了以外の日付 */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  color: #fff;
  background: #a2aad6;
}

/* 日付範囲の終了日を選択中 */
.CalendarDay__selected_span,
.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #737fc4;
}
